---
import Master from "../layouts/Master.astro";
const title = "Home";
const description = "This is the homepage";
const image = {
  url: "/",
  alt: "Default",
};
---

<Master title={title} description={description} image={image}>
  <main class="">
    <header
      class="bg-hero-pattern bg-origin-border bg-center bg-no-repeat bg-contain h-80vh grid place-items-center"
    >
      <div class="container">
        <p class="text-orange font-serif text-5xl mb-4 uppercase">
          Hello <span class="animate-wiggle">👋</span>
        </p>
        <h1 class="text-7xl">
          I’m Kristina, a fresh <strong class="text-orange">ui designer</strong
          >, designing the web, one pixel at a time
        </h1>
      </div>
    </header>
    <section class="h-screen"></section>
  </main>
</Master>
