---
import { t } from "i18next";
interface Props {
  objectives: string;
  tools: string;
  team: string;
  duration: string;
}

const { objectives, team, duration, tools } = Astro.props;
---

<section class="container grid grid-cols-1 lg:grid-cols-3 gap-4 lg:gap-6 mb-6">
  <article class="prose lg:prose-xl lg:col-span-2">
    <slot />
  </article>
  <aside>
    <ul class="flex flex-wrap lg:flex-col gap-3 md:gap-4 lg:gap-6">
      <li>
        <h2 class="text-lg lg:text-xl font-bold mb-2">
          {t("summary.objectives")}
        </h2>
        <p>{objectives}</p>
      </li>
      <li>
        <h2 class="text-lg lg:text-xl font-bold mb-2">{t("summary.tools")}</h2>
        <p>{tools}</p>
      </li>
      <li>
        <h2 class="text-lg lg:text-xl font-bold mb-2">{t("summary.team")}</h2>
        <p>{team}</p>
      </li>
      <li>
        <h2 class="text-lg lg:text-xl font-bold mb-2">
          {t("summary.duration")}
        </h2>
        <p>{duration}</p>
      </li>
    </ul>
  </aside>
</section>
