---
import { Image } from "astro:assets";
interface Props {
  title: string;
  text?: string;
  image: ImageMetadata;
  alt: string;
  reverse?: boolean;
}

const { title, text, image, alt, reverse = false } = Astro.props;
---

<article class="grid grid-cols-1 lg:grid-cols-2 place-items-center gap-6">
  <div class:list={["prose lg:prose-xl", { "order-2": reverse }]}>
    <header>
      <h3>{title}</h3>
    </header>
    <slot />
  </div>
  <Image
    src={image}
    alt={alt}
    width={400}
    height={400}
    class="aspect-square object-cover w-full"
  />
</article>
