---
import { SEO } from "astro-seo";
import i18next, { t } from "i18next";
import { localizePath } from "astro-i18next";
import { LanguageSelector, HeadHrefLangs } from "astro-i18next/components";
const { title, description, image } = Astro.props;
import "../styles/base.css";
---

<!DOCTYPE html>
<html lang={i18next.language}>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <HeadHrefLangs />
    <SEO
      title={title}
      titleTemplate={"%s | Kristina Linhartova"}
      description={description}
      openGraph={{
        basic: {
          title: title + " | Kristina Linhartova",
          type: "text",
          image: image.url,
          url: "https://www.kristinalinhartova.com/",
        },
        image: {
          alt: image.alt,
        },
      }}
      twitter={{
        title: title + " | Kristina Linhartova",
        card: "summary_large_image",
        image: image.url,
        description: description,
      }}
      extend={{
        // extending the default link tags
        link: [
          { rel: "icon", href: "/favicon.ico" },
          { rel: "preconnect", href: "https://fonts.googleapis.com" },
          {
            rel: "preconnect",
            href: "https://fonts.gstatic.com",
            crossOrigin: "true",
          },
          {
            rel: "stylesheet",
            href: "https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:wght@400;700&display=swap",
          },
        ],
      }}
    />
    <script>
      window.addEventListener("scroll", () => {
        const navElement = document.getElementById("nav");
        if (navElement && document.documentElement.scrollTop > 0) {
          navElement.classList.add("shadow");
        } else {
          navElement?.classList.remove("shadow");
        }
      });
    </script>
  </head>
  <body class="h-screen bg-offwhite">
    <header class="fixed inset-x-0 top-0 bg-offwhite z-10" id="nav">
      <nav class="container py-4 flex justify-between items-center">
        <a
          href={localizePath("/")}
          class="font-serif text-4xl"
          title={t("home.home")}>KL</a
        >
        <div class="flex gap-4 items-center">
          <a
            href={localizePath("/about")}
            class="font-serif text-lg uppercase cursor-pointer relative px-1 before:absolute before:bg-primary-400 before:bottom-0 before:left-0 before:h-full before:w-full before:origin-bottom before:scale-y-[0.15] hover:before:scale-y-100 before:transition-transform before:ease-in-out before:duration-200"
            ><span class="relative">{t("about.about")}</span></a
          >
          <LanguageSelector
            showFlag={true}
            languageMapping={{ da: "Dansk" }}
            class="bg-offwhite border border-primary-300 text-primary-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-1"
          />
        </div>
      </nav>
    </header>
    <slot />
    <footer class="flex flex-wrap justify-between py-12 container gap-3">
      <p>Copyright © 2023 Kristina Linhartova. All rights reserved.</p>
      <div class="flex gap-4">
        <a
          href="https://www.linkedin.com/in/kristina-linhartov%C3%A1/"
          target="_blank"
          title="linkedIn"
          ><img src="/assets/linkedin.svg" class="h-6 w-6" alt="" /></a
        >
        <a href="mailto:kika.linhartova@gmail.com" title="Send me an email :)"
          ><img src="/assets/email.svg" class="h-6 w-6" alt="" /></a
        >
      </div>
    </footer>
  </body>
</html>
